@media screen and (min-width: 485px) and (max-width: 768px)
{
    .footer_link_div
    {
        width: 100%;
        text-align: end;
    }

    .footer_developed_by_div
    {
        width: 100%;
    }
}

@media screen and (max-width: 485px)
{
    .footer_section
    {
        flex-direction: column-reverse;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 485px)
{
    .footer_section
    {
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 768px)
{
    .footer_link_div 
    {
        width: 330px;
        justify-content: flex-start;
        white-space: nowrap;
    }
    
    .footer_developed_by_div 
    {
        width: 870px;
    }
}

.footer_section
{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin-top: 256px;
    #background: #171717;
}

.footer_link_div
{
    word-spacing: 10px;
    font-size: large;
    #background: blue;
}

.footer_developed_by_div
{
    text-align: start;
}

.footer_developed_by_text
{
    margin: 0px;
    font-size: large;
    opacity: 30%;
}