.footer_section {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin-top: 8em;
}

.footer_link_div {
    width: 100%;
    text-align: end;
    word-spacing: 10px;
    font-size: large;
}

.footer_developed_by_div {
    width: 100%;
    text-align: start;
}

.footer_developed_by_text {
    margin: 0px;
    font-size: large;
    opacity: 30%;
}

.footer_copyright_section {
    display: flex;
    max-width: 1200px;
    width: 100%;
    opacity: 30%;
    font-size: small;
    text-align: justify;
    padding-top: 10px;
}