@media screen and (max-width: 768px)
{
    .intro_section
    {
        flex-direction: column;
    }

    .project_section
    {
        flex-direction: column;
    }
    
    .project_subsection
    {
        flex-direction: column;
    }
    
    .project_image_div
    {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .intro_image
    {
        padding-top: var(--dynamic-intro-padding);
        height: 200px;
    }

    .content_description_section
    {
        flex-direction: column;
    }

    .content_description_title_div
    {
        text-align: start;
    }
    
    p
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 768px)
{
    .intro_image
    {
        padding: 0px;
        height: var(--intro-image-height);
    }
    
    .content_description_title_div
    {
        text-align: end;
    }
    
    p
    {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@font-face 
{
    font-family: "Inter";
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

:root 
{
    --intro-opacity: 0;
    --content-opacity: 0;
    --dynamic-intro-padding: clamp(70px, calc(70px + (200 - 70) * ((100vh - 785px) / (1440 - 785))), 200px);
    --intro-image-height: 256px;
}

body 
{
    background-color: #0d1117;
    color: #f0f6fc;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

p
{
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.normal_text
{
    font-size: x-large;
}

.highlighted_text
{
    text-decoration: none;
    font-weight: bold;
    color: orangered;
}

.bold_text
{
    font-weight: bold;
}

.content_section
{
    opacity: var(--content-opacity);
}

.content_description_section
{
    display: flex;
    margin-top: 230px;
    max-width: 1200px;
    width: 100%;
    #background: #171717;
}

.content_description_title_div
{
    max-width: 210px;
    width: 100%;
}

.content_description_text_div
{
    max-width: 1000px;
    text-align: left;
    width: 100%;
    #background: gray;
}