@media screen and (max-width: 910px) {
    .content_description_section {
        flex-direction: column;
    }

    .content_description_title_div {
        text-align: start;
    }
}

@media screen and (min-width: 910px) {
    .content_description_title_div {
        display: flex;
    }

    .normal_text {
        font-size: x-large;
    }
}

@media screen and (max-width: 1024px) {
    .content_description_section {
        margin-bottom: -40px;
        /*TODO: have this in mind if content spacing is not behaving adequately*/
    }

    .normal_text {
        font-size: var(--y-large);
    }
}

:root {
    --body-opacity: 0;
    --intro-opacity: 0;
    --content-opacity: 0;
    --enable-intro-interaction: auto;
    --enable-content-interaction: auto;
    --dynamic-intro-padding: clamp(70px, calc(70px + (200 - 70) * ((100vh - 785px) / (1440 - 785))), 200px);
    --y-large: 21px;
    --intro-image-height: 256px;
}

html {
    -webkit-text-size-adjust: 100%;
    /* Prevents font scaling in mobile browser landscape*/
}

body {
    background: black url("../assets/bg.webp");
    color: #f0f6fc;
    font-family: monospace;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    opacity: var(--body-opacity);
    transition: opacity 0.75s ease-in-out;
}

.main_container {
    padding: 5% 10%;
}

p {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.normal_text {
    /*Used in media screen global style*/
}

.highlighted_text {
    text-decoration: none;
    font-weight: bold;
    color: #f50000f0;
}

.bold_text {
    font-weight: bold;
}

.content_section {
    opacity: var(--content-opacity);
    pointer-events: var(--enable-content-interaction);
}

.content_description_section {
    display: flex;
    flex-direction: column;
    padding: 4em 0em;
    max-width: 1200px;
    width: 100%;
}

.content_description_title_div {
    margin-bottom: 1em;
}

.content_description_text_div {
    text-align: left;
    width: 100%;
}

.link_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}