@media screen and (max-width: 910px) {
    .project_section {
        flex-direction: column;
    }

    .project_subsection {
        flex-direction: column;
    }

    .project_text_div {
        padding: 2em 0em;
    }
}

@media screen and (min-width: 910px) {
    .project_subsection {
        flex-direction: row;
    }

    .project_text_div {
        padding: 2em;
        max-width: 330px;
    }
}

.project_section {
    max-width: 1200px;
    width: 100%;
    padding: 4em 0em;
    display: flex;
}

.project_subsection {
    width: 100%;
    display: flex;
    opacity: var(--content-opacity);
}

.project_title_text {
    color: #808080;
    font-size: large;
    text-align: start;
    text-decoration: none;
    font-weight: bold;
}

.project_image_div {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.project_image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0.15) 1px;
}

.project_text_div {
    width: 100%;
    flex: 1;
}

.project_text {
    font-size: large;
}